body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.ambient-shadow {
  box-shadow: 0 20px 40px rgba(45, 52, 53, 0.06);
}

.primary-gradient {
  background: linear-gradient(145deg, #5e5e5e 0%, #525252 100%);
}
